<!DOCTYPE html>
<html lang="fr-CA">
<head>
  <!--
    SCROLLYTELLING LE DEVOIR

    Gabarit pour scrollytelling à utiliser au Devoir.

    Développé par:
      - Jean-Philippe Corbeil (jpcorbeil@ledevoir.com)
      - Antoine Béland (abeland@ledevoir.com)
  -->

  <title><%= htmlWebpackPlugin.options.title %> | Le Devoir</title><!-- Titre de l'onglet (ne pas modifier) -->

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--
    Le processus pour les métas va comme suit:

    1 - Faire une page small.jpg pour les réseaux sociaux et le partage.
    2 - Mettre cette image dans le dossier assets/img.
    3 - Mettre à jour les informations dans le fichier 'config.json'.

    * Généralement fait une fois que le code est prêt à être publié.
    ** NE PAS MODIFIER LES MÉTAS DIRECTEMENT DANS LE FICHIER INDEX.HTML **
  -->
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

  <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
  <meta property="og:site_name" content="Le Devoir">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="og:type" content="article">
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">

  <meta property="article:publisher" content="https://www.facebook.com/ledevoir">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ledevoir">
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="twitter:creator" content="Le Devoir">
  <!-- at least 280px x 150px for Twitter (image must be < 1MB) -->
  <meta name="twitter:image:src" content="<%= htmlWebpackPlugin.options.image %>">
  <meta name="twitter:domain" content="https://ledevoir.com">
</head>
<body>


<header class="dark">
  <ul class="pull-right social-buttons">
    <li>
      <button data-type="twitter" aria-label="Partager sur Twitter">
        <i class="fab fa-twitter" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button data-type="facebook" aria-label="Partager sur Facebook">
        <i class="fab fa-facebook" aria-hidden="true"></i>
      </button>
    </li>
  </ul>
  <a href="https://www.ledevoir.com">
    <img alt="Le Devoir" src="assets/img/logo-devoir-dark.svg">
  </a>
  <!-- TITRE DE L'ARTICLE EN RAPPEL (ne pas modifer) -->
  <h1 class="article-reminder"><%= htmlWebpackPlugin.options.title %></h1>
  <div class="progress"></div>
</header>

<main>
  <section class="full-page-section intro">
    <div class="background">
      <img class="lazy" alt="Image de couverture"
           src="assets/img/cover1-thumbnail.jpg" data-src="assets/img/cover1.jpg"
           style="object-position: 60% 0;">
      <div class="filter"></div>
    </div>
    <div class="intro-section">
      <h1>
        <%= htmlWebpackPlugin.options.title %><br>
        <small>
          Au Québec, les Autochtones subissent des discriminations systémiques qui les poursuivent tout
          au long de leur vie.
        </small>
      </h1> <!-- TITRE DE L'ARTICLE (ne pas modifer) -->
      <address> <!-- AUTEURS ET DATE DE PUBLICATION (ne pas modifer) -->
        <div class="authors">Par <%= htmlWebpackPlugin.options.authors %></div>
        <div class="date"><%= htmlWebpackPlugin.options.date %></div>
      </address>
    </div>
  </section>
  <section>
    <div class="text-section">
      <p>
        Le Québec compte 11 nations autochtones, composées des Premières Nations, des Inuits et des Métis,
        principalement réparties au sein de 55 communautés dont la taille et l’environnement sont variés. Bien que
        chacune ait ses particularités, elles font toutes l’objet de nombreux préjugés. Ces idées préconçues se
        manifestent dès l’enfance des personnes autochtones et elles les poursuivent tout au long de leur vie,
        influençant la perception qu’elles ont d’elles-mêmes et de leur culture.
      </p>
      <br>
      <figure>
        <img alt="Widia Larivière" src="./assets/img/widia2-optimized.jpg">
        <figcaption>Photo: Adil Boukind Le Devoir</figcaption>
      </figure>
      <blockquote class="large">
        <div>
          <p>
            Une des premières questions qu’on me pose lorsque je dis que je suis d’origine autochtone, c’est&nbsp;:
            «&nbsp;Est-ce que tu paies des taxes ?&nbsp;» Et lorsque je bois de l’alcool, on me fait des petits
            commentaires sur ma capacité à tolérer l’alcool. Plus jeune, ça a eu un impact sur l’affirmation
            identitaire, sur l’estime. Cela demande un travail de réaffirmation, de réappropriation de sa fierté
            identitaire.
          </p>
          <p class="author">
            WIDIA LARIVIÈRE, MILITANTE ANISHNABE, COFONDATRICE DU MOUVEMENT IDLE NO MORE QUÉBEC ET DE L’ORGANISME
            MIKANA
          </p>
          <p class="symbol"></p>
        </div>
      </blockquote>
    </div>
  </section>
  <section>
    <div class="full-page-section">
      <div class="background">
        <img class="lazy" alt="" src="assets/img/enfance3-thumbnail.jpg" data-src="assets/img/enfance3-optimized.jpg"
             style="object-position: 50% 70%">
        <div class="filter" style="opacity: 0.5"></div>
      </div>
      <h1 class="caption">
        <span>Enfance</span>
      </h1>
    </div>
    <div class="viz-section">
      <div class="steps">
        <section>
          <h2>Éducation</h2>
          <p>
            Plusieurs facteurs expliquent le retard scolaire des jeunes autochtones. En milieu urbain, la langue
            d’enseignement est différente de celle pratiquée dans le cadre familial et les enseignants capables
            d’utiliser les deux sont peu nombreux. De plus, les processus cognitifs d’apprentissage de ces jeunes
            divergent des méthodes d’enseignement occidentales&nbsp;: alors qu’ils valorisent l’acquisition progressive
            de savoirs et de valeurs collectifs, la structure éducative canadienne encourage l’obtention d’un diplôme
            dans un temps imparti et n’offre pas de matières correspondant aux savoirs traditionnels autochtones.
          </p>
        </section>
        <section>
          <p>
            Cela peut entraîner un désengagement de la culture d’origine ou un décrochage scolaire. À cela
            s’ajoutent la discrimination et l’intimidation subies en classe ou dans la cour de récréation. Bien
            que des établissements scolaires au sein des communautés existent, leur financement est souvent minime,
            ce qui entraîne un manque de formation des enseignants et d’infrastructures adéquates qui nuit à
            la qualité de l’apprentissage.
          </p>
        </section>
      </div>
      <div class="viz" id="viz1"></div>
    </div>
    <div class="text-section">
      <h2>Services de protection de la jeunesse</h2>
      <p>
        Les jeunes autochtones sont cinq fois plus souvent pris en charge par les services de protection de la
        jeunesse (SPJ) que les autres. Différentes causes sont à pointer. D’une part, les traumatismes engendrés par
        les pensionnats et la rafle des années 1960 sont lourds de conséquences puisqu’ils ont laissé des séquelles
        intergénérationnelles. Cela alimente une situation de dépendance et de précarité, source de négligence
        infantile, que ce soit sur le plan physique ou sur ceux de la santé ou de l’éducation. D’autre part, les
        intervenants des SPJ ignorent bien souvent les principes culturels autochtones. On attend des parents et
        des familles d’accueil qu’ils se conforment aux valeurs occidentales. Cependant, laisser si peu de place
        aux conceptions familiales et aux pratiques culturelles autochtones ne fait qu’augmenter le nombre de prises
        en charge et de placements. De plus, soulignons que les services sociaux préventifs, intensifs ou spécialisés
        au sein des communautés sont souvent déficients ou inaccessibles, voire absents.
      </p>
      <blockquote class="large">
        <div>
          <p>
            Ma mère a été en pensionnat. Elle a eu sept enfants dont elle ne pouvait pas s’occuper du fait des
            conséquences du pensionnat. Mes parents adoptifs* [mot ajouté] ont essayé de m’éduquer de façon à ce que
            j’éprouve de la honte pour ma culture d’origine. Ils me disaient toujours que la plupart des Autochtones,
            quand ils deviennent adultes, sont alcooliques, toxicomanes ou prostitués et que je deviendrais comme eux.
          </p>
          <p class="author">NAKUSET, DIRECTRICE DU FOYER POUR FEMMES AUTOCHTONES DE MONTRÉAL</p>
          <p class="symbol"></p>
        </div>
      </blockquote>
    </div>
  </section>
  <section>
    <div class="full-page-section">
      <div class="background">
        <img class="lazy" alt="" src="assets/img/emploi2-thumbnail.jpg" data-src="assets/img/emploi2-optimized.jpg"
             style="object-position: 50% 95%">
        <div class="filter" style="opacity: 0.5"></div>
      </div>
      <h1 class="caption" style="line-height: 1.5em">
        <span>Emploi et revenu</span>
      </h1>
    </div>
    <div class="viz-section">
      <div class="steps">
        <section>
          <h2>Emploi et chômage</h2>
          <p>
            Les obstacles à la scolarisation et à la diplomation des Autochtones, de même que les préjugés à leur
            égard, ont des répercussions sur leur accès et leur participation au marché du travail. Celui-ci est
            d’ailleurs quasi inexistant dans nombre de réserves, entravant l’essor de l’activité économique.
          </p>
        </section>
        <section>
          <blockquote>
            <div>
              <p>
                Il y a une perception que les Autochtones sont des moins que rien, des alcooliques… C’est une vision
                très négative. De plus, au Québec, la langue est un problème majeur ; les gens doivent parler français
                pour travailler et se conformer à la société.
              </p>
              <p class="author">Nakuset</p>
              <p class="symbol"></p>
            </div>
          </blockquote>
        </section>
        <section>
          <h2>Revenu </h2>
          <p>
            Conséquemment, le revenu après impôt médian est faible, rendant difficile l’accès au crédit, à la
            consommation, à une carte de crédit ou à un logement, par exemple. Beaucoup de personnes se font
            d’ailleurs refuser la visite d’appartements lorsqu’elles disent leur nom.
          </p>
        </section>
      </div>
      <div class="viz" id="viz2"></div>
    </div>
  </section>
  <section>
    <div class="full-page-section">
      <div class="background">
        <img class="lazy" alt="" src="assets/img/logement-thumbnail.jpg" data-src="assets/img/logement-optimized.jpg"
             style="object-position: 50% 50%">
        <div class="filter" style="opacity: 0.5"></div>
      </div>
      <h1 class="caption">
        <span>Logement</span>
      </h1>
    </div>
    <div class="viz-section">
      <div class="steps">
        <section>
          <h2>Pénurie de logements et vétusté des lieux </h2>
          <p>
            33&nbsp;020&nbsp;Autochtones au Québec vivent dans un logement nécessitant des travaux majeurs, qu’il
            s’agisse d’une plomberie ou d’une installation électrique défectueuse, de problèmes structurels aux murs,
            au sol ou au plafond.
          </p>
          <p>
            De plus, les investissements gouvernementaux sont insuffisants pour enrayer la crise du logement dans les
            réserves, notamment dans les villages nordiques de la province.
          </p>
        </section>
        <section>
          <h2>Manque d’espace et surpeuplement </h2>
          <p>
            Dès lors, beaucoup d’Autochtones vivent dans des logements surpeuplés, où il est courant de devoir dormir
            à tour de rôle afin que chacun puisse disposer d’un lit. Dans ce cadre de vie, les jeunes n’ont pas
            d’environnement adéquat pour étudier. L’apparition de maladies y est également favorisée, de même que
            la violence et les suicides.
          </p>
        </section>
      </div>
      <div class="viz" id="viz3"></div>
    </div>
    <div class="text-section">
      <h2>Itinérance en milieu urbain </h2>
      <p>
        En raison des conditions socioéconomiques difficiles dans les réserves, de tensions relationnelles ou de
        l’attrait pour la ville, nombre d’Autochtones migrent vers le milieu urbain. Ce sont principalement les jeunes,
        en nombre grandissant, ainsi que les Inuits. À leur arrivée en ville, ils peuvent cependant se heurter à
        d’importants obstacles en matière d’accès au logement et aux services sociaux culturellement adaptés. Ils
        deviennent alors itinérants, en proie à de la discrimination des passants, d’autres itinérants, des
        intervenants ou des forces de l’ordre.
        <!-- TODO: Éviter ce genre d'appel. Intégrer le lien dans le texte plutôt que de dire "Cliquez ici". -->
        <a
        href="https://www.ledevoir.com/documents/special/20-02_itinerance-autochtones-square-cabot/index.html">Cliquez
        ici pour plus de détails.</a>
      </p>
      <div class="number-box blue">
        <p>
          <strong class="near">12&thinsp;<small>%</small></strong><br>
          C'est le pourcentage de la population<br>
          itinérante autochtone à Montréal,<br>
          alors que les Autochtones ne repré-<br>
          sentent que 0,6&nbsp;% de sa population.
        </p>
      </div>
      <blockquote class="large">
        <div>
          <p>
            Il n’y a pas assez de services publics, de logements, d’hôpitaux, d’écoles dans les réserves. Quand ils
            viennent à Montréal, c’est un vrai choc culturel. Ils sont généralement ciblés par les créanciers, n’ont
            plus d’argent, sont à la rue. Ils viennent dans des refuges pour essayer de trouver un moyen de survivre.
          </p>
          <p class="author">Nakuset</p>
          <p class="symbol"></p>
        </div>
      </blockquote>
    </div>
  </section>
  <section>
    <div class="full-page-section">
      <div class="background">
        <img class="lazy" alt="" src="assets/img/police-thumbnail.jpg" data-src="assets/img/police-optimized.jpg"
             style="object-position: 50% 20%">
        <div class="filter" style="opacity: 0.5"></div>
      </div>
      <h1 class="caption">
        <span>Police</span>
      </h1>
    </div>
    <div class="text-section">
      <h2>Rapports avec la police en milieu urbain </h2>
      <p>
        Les conditions de vie précaires de nombreux Autochtones favorisent les interventions policières. Ces pratiques
        sont implicitement influencées par des stéréotypes, résultant d’une méconnaissance. Les interpellations des
        populations autochtones par la police en sont une des conséquences, caractéristiques d’une surveillance et
        d’un interventionnisme excessifs.
      </p>
      <div class="number-box yellow">
        <p>
          <strong>4,62</strong><br>
          Une personne autochtone a<br>
          4,62 fois plus de chances qu'une<br>
          personne blanche d'être interpellée<br>
          par la police à Montréal.
        </p>
      </div>
    </div>
    <div class="viz-section">
      <div class="steps">
        <section>
          <p>
            Les principales causes des constats d’infraction sont la consommation d’alcool, l’ivresse, les injures
            lancées aux agents de la paix et le fait de se coucher dans un endroit public. Ces contraventions sont
            souvent données aux personnes itinérantes, qui, faute de pouvoir les payer, se voient emprisonnées.
            Cependant, la Ville de Val-d’Or a depuis suspendu les incarcérations pour non-paiement d’amendes.
          </p>
        </section>
      </div>
      <div class="viz" id="viz4"></div>
    </div>
    <div class="viz-section">
      <div class="steps">
        <section>
          <h2>Formation des corps policiers dans les réserves</h2>
          <p>
            Afin de s’assurer une relève, les corps policiers autochtones assument généralement les frais de
            formation en patrouille-gendarmerie — plus de trois fois plus élevés que pour les allochtones — de leurs
            candidats. Cet écart de coûts s’explique notamment par le fait que les premiers ne sont pas tenus de verser
            l’équivalent de 1&nbsp;% de leur masse salariale à l’École nationale de police du Québec (ENPQ),
            contrairement aux seconds. L’indisponibilité de certaines formations en anglais représente aussi un obstacle
            puisque les traductions sont souvent à leur charge.
          </p>
        </section>
      </div>
      <div class="viz" id="viz5"></div>
    </div>
    <div class="text-section">
      <h2>Sous-financement des corps policiers dans les réserves </h2>
      <p>
        Le sous-financement des services policiers autochtones est également un problème majeur&nbsp;; leur
        sous-effectif se répercute sur les conditions de travail et la qualité des services rendus. Les distances
        peuvent être longues à parcourir lorsqu’une urgence a lieu, attisant l’insécurité et les situations
        dangereuses. En plus d’un écart de salaires allant jusqu’à 40&nbsp;% ou 50&nbsp;% avec les autres corps
        policiers du Québec, les équipements et les infrastructures sont souvent obsolètes ou manquants. De plus,
        la proximité sociale entre les membres des communautés tend à entraver les interventions et la dénonciation
        des abus.
      </p>
    </div>
  </section>
  <section>
    <div class="full-page-section">
      <div class="background">
        <img class="lazy" alt="" src="assets/img/sante-thumbnail.jpg" data-src="assets/img/sante-optimized.jpg"
             style="object-position: 50% 60%">
        <div class="filter" style="opacity: 0.5"></div>
      </div>
      <h1 class="caption">
        <span>Santé</span>
      </h1>
    </div>
    <div class="text-section">
      <h2>Problèmes de santé et accès aux soins médicaux</h2>
      <p>
        De nombreux Autochtones ont des problèmes de santé chroniques, comme le diabète, les maladies respiratoires
        et contagieuses ou la dépression. Différents facteurs sont en cause. Les conditions socioéconomiques sont
        souvent
        déplorables, comme en témoignent l’insalubrité des logements et les revenus modestes. Le recours aux soins
        médicaux est quant à lui limité, tant au chapitre de l’effectif du personnel soignant qu’au chapitre de la prise
        en charge des frais engagés. De plus, les communautés sont souvent dépourvues d’établissements pratiquant des
        interventions d’urgence et offrant des soins spécialisés, comme les services ambulatoires d’urgence ou de
        réadaptation destinés aux personnes nécessitant un suivi psychosocial spécifique.
      </p>
      <p>
        En outre, la conception occidentale de la santé diverge de celle des Autochtones. La première se concentre
        autour
        de règles biomédicales et d’approches individuelles, tandis que la seconde tend vers la recherche d’un
        équilibre,
        soutenu par les pairs (famille, amis, communauté, nation). Les préjugés du personnel soignant se traduisent
        parfois par des pratiques discriminatoires, telles que le non-respect de pratiques culturelles, le refus d’une
        évaluation médicale ou la non-prescription de soins adéquats. Un tel manque de sécurisation culturelle entraîne
        une sous-utilisation des services de santé, ce qui retarde les actes médicaux préventifs et augmente les
        situations urgentes.
      </p>
    </div>
    <div class="text-section">
      <h2>Le poids du passé</h2>
      <p>
        La sédentarisation forcée a été la source de bouleversements profonds. Les changements alimentaires ont réduit
        toute activité physique et la vie en réserve a imposé la promiscuité, nuisible à la santé mentale et physique,
        comme en témoignent les excès de violence familiale. Un fossé générationnel s’est alors créé, rompant les formes
        d’éducation traditionnelles.
      </p>
      <p>
        De surcroît, les répercussions relatives à l’acculturation des Autochtones dans les pensionnats et lors de la
        rafle des années&nbsp;1960 sont toujours prégnantes aujourd’hui. Lorsqu’un traumatisme culturel survient et
        s’ajoute à d’autres, les incidences sur la santé physique et psychologique se transmettent entre les
        générations.
        Elles sont influencées par les moyens d’adaptation mis en œuvre, les comportements parentaux transmis et les
        réactions neuronales et comportementales de chacun. Cela peut se traduire par l’anxiété, la dépendance,
        la dépression, la perte d’estime de soi et peut même aller jusqu’au suicide.
      </p>
      <br>
      <figure>
        <img alt="Nakuset" src="./assets/img/nakuset5-optimized.jpg">
        <figcaption>Photo: Courtoisie Marie-Claude Fournier</figcaption>
      </figure>
      <blockquote class="large">
        <div>
          <p>
            Ma sœur a été placée en famille d’accueil, en foyers et dans des centres d’hébergement. Elle avait de
            nombreux problèmes de santé mentale, donc elle a fait plusieurs tentatives de suicide. Quand le gouvernement
            a décidé de verser des indemnités après la rafle des années&nbsp;1960, elle n’était pas admissible. Cela
            l’a vraiment bouleversée parce que ce qui lui est arrivé a ruiné sa vie. Sonya s’est suicidée il y a
            presque deux ans.
          </p>
          <p class="author">Nakuset</p>
          <p class="symbol"></p>
        </div>
      </blockquote>
    </div>
  </section>
  <section class="text-section">
    <p>
      Les populations autochtones se heurtent quotidiennement à de nombreux préjugés, ce qui altère leur bien-être et
      leurs droits. L’inadéquation des structures éducatives dès l’enfance influence par la suite leurs aptitudes à
      trouver un emploi et à bénéficier d’un revenu permettant de satisfaire leurs besoins, comme un logement décent.
      L’itinérance apparaît dans de nombreux cas lorsque la migration vers le milieu urbain advient. Elle favorise
      les interpellations policières, souvent inadaptées. En effet, les lacunes au regard des réalités autochtones
      sont importantes, tandis que les corps policiers dans les réserves voient leurs formations et leurs effectifs
      restreints. Le cumul de ces insécurités économiques et sociales se répercute indéniablement sur la santé physique
      et psychologique des populations. Elle s’inscrit à son tour dans un passé colonial lourd de conséquences, à la
      fois le facteur et l'effet d’un enchaînement de discriminations systémiques. Néanmoins, certains acteurs
      s’engagent chaque jour à briser ce cercle vicieux, comme Nakuset ou Widia Larivière. Cliquez ici pour lire
      leur histoire.
    </p>
    <p>
      <strong>[Ajouter transition vers l'autre article]</strong>
    </p>
  </section>

  <!--section>
    <div class="viz-section">
        <div class="steps">
          <section>
            <h2>bfadsf </h2>
            <p>
              adfadsfsaaaaaaaaaaaaaafdfdfghd
            </p>
          </section>
        </div>
        <div class="viz" id="viz6"></div>
  </section -->

  <!-- section>
      <div class="full-page-section">
        <div class="background">
          <img class="lazy" alt="" src="assets/img/temoignage_positif_modele1.png" data-src="assets/img/cover1.jpg">
          <div class="filter"></div>
        </div>
        <div class="quote">
        </div>
      </div>
    </section -->

</main>
<footer>
  <div>
    <!-- MENTION À L'INFOGRAPHIE OU LA COLLABORATION. À MODIFIER AU BESOIN. -->
    <p><strong>Sources</strong></p>

    <!--<%= htmlWebpackPlugin.options.authorsRoles %> Design par Cédric Gagnon. -->
    <ul class="sources">
      <li>
        <a
          href="http://v.calameo.com/?bkcode=0055561531918f2e0eb67&mode=mini&fbclid=IwAR1ORMLqlzjqcAM3yYFqPOZr5m0H83OQyh7PeerucL2U6tDTCVPIKfIEZqE">
          « Tu n’as pas l’air Autochtone ! Et autres préjugés » </a>, par Mikana et Amnesty International, 2019
      </li>
      <li>
        <a href="http://www.cdpdj.qc.ca/Publications/Mythes-Realites.pdf"><i> Mythes et réalités sur les peuples
          autochtones </i></a>, par Pierre Lepage, 2019
      </li>
      <li>
        <a href="https://cdn.iris-recherche.qc.ca/uploads/publication/file/Note_Ine_galite_s_4_WEB_02.pdf"><i> Portrait
          des inégalités socioéconomiques touchant les Autochtones au Québec </i></a>. Note de l’Institut de recherche et
        d’informations socioéconomiques, IRIS, janvier 2018.
      </li>
      <li>
        <a href="http://www.ibcr.org/wp-content/uploads/2016/09/Revue-litteraire-autochtone.pdf">« Les enfants autochtones
          du Québec »</a>. <i> Revue de littérature du droit international du droit des enfants </i>, 15 juin 2015.
      </li>
      <li>
        <a href="https://www.cerp.gouv.qc.ca/index.php?id=2">Commission d’enquête sur les relations entre les Autochtones
          et certains services publics au Québec : écoute, réconciliation et progrès </a>, 30 septembre 2019.
      </li>
      <li>
        <a href="https://www12.statcan.gc.ca/census-recensement/2016/dp-pd/index-fra.cfm"> Recensement 2016</a>,
        Statistique Canada
      </li>
      <li>
        <a href="https://www.frapru.qc.ca/wp-content/uploads/2018/06/Dossier-Noir-2018.pdf"><i>Logement et pauvreté au
          Québec – Dossier noir </i></a>, FRAPRU, 2018
      </li>
      <li>
        <em><a href="https://www.mmfim.ca/wp-content/uploads/2016/12/AM.Turcotte-Itinerance-autochtones-Qc.pdf"> Les
          Autochtones en situation d’itinérance </a></em>, par Anne-Marie Turcotte, MMFIM, automne 2015
      </li>
      <li>
        <a href="https://www.mmfim.ca/wp-content/uploads/2016/12/AM.Turcotte-Itinerance-autochtones-Qc.pdf">«
          Introduction: Autochtones en situation d’itinérance à Montréal »</a>, MMFIM
      </li>
      <li>
        <a href="https://www.cerp.gouv.qc.ca/fileadmin/Fichiers_clients/Documents_deposes_a_la_Commission/P-116.pdf">La
          condition itinérante parmi la population autochtone au Québec – Partie I: Une enquête qualitative à Montréal</a>.
        Rapport de l’ODENA, 2018.
      </li>
      <li>
        <a href="https://spvm.qc.ca/upload/Rapport_Armony-Hassaoui-Mulone.pdf"><em>Les interpellations policières à la
          lumière des identités racisées des personnes interpellées </em></a>. Analyse des données du SPVM et élaboration
        d’indicateurs de suivi en matière de profilage racial, août 2019.
      </li>
      <li>
        <a href="https://www.cerp.gouv.qc.ca/fileadmin/Fichiers_clients/Documents_deposes_a_la_Commission/PD-2.pdf">Étude
          statistique, descriptive et exploratoire de l’emprisonnement pour non-paiement de constats d’infraction à la
          réglementation municipale dans 10 villes québécoises</a>. CERP, 22 août 2018.
      </li>
    </ul>
    <p><strong>Crédits</strong></p>
    <p>
      Article et infographies réalisés grâce à l’octroi des bourses IVADO — <em>Le Devoir</em> en journalisme des
      données.
      Direction artistique par Cédric Gagnon. Photos par Guillaume Levasseur.
    </p>

  </div>
</footer>

<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" async="" src="https://static.chartbeat.com/js/chartbeat.js"></script>
<script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1157473-1"></script>
<script>
  // Chartbeat
  (function () {
    var _sf_async_config = window._sf_async_config = (window._sf_async_config || {});
    _sf_async_config.uid = 65774;
    _sf_async_config.domain = 'ledevoir.com';
    _sf_async_config.flickerControl = false;
    _sf_async_config.useCanonical = true;
    _sf_async_config.useCanonicalDomain = true;

    function loadChartbeat() {
      var e = document.createElement('script');
      var n = document.getElementsByTagName('script')[0];
      e.type = 'text/javascript';
      e.async = true;
      e.src = '//static.chartbeat.com/js/chartbeat.js';
      n.parentNode.insertBefore(e, n);
    }

    loadChartbeat();
  })();

  // Matomo Analytics
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "https://analytics.ledevoir.com/";
    _paq.push(['setTrackerUrl', u + 'piwik.php']);
    _paq.push(['setSiteId', '2']);
    _paq.push(['enableHeartBeatTimer', 30]);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.type = 'text/javascript';
    g.async = true;
    g.defer = true;
    g.src = u + 'piwik.js';
    s.parentNode.insertBefore(g, s);
  })();

  // Google Analytics initialization
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-1157473-1');
</script>
<script type="text/javascript" src="assets/lib/social.min.js"></script>
</body>
</html>
