@font-face {
  font-family: 'graphik';
  font-weight: normal;
  src: url('../fonts/Graphik-Regular.otf');
}

@font-face {
  font-family: 'graphik';
  font-weight: 500;
  src: url('../fonts/Graphik-Semibold.otf');
}

@font-face {
  font-family: 'graphik';
  font-weight: bold;
  src: url('../fonts/Graphik-Bold.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: 300;
  src: url('../fonts/Publico-Light.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: normal;
  src: url('../fonts/PublicoText-Roman.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: 500;
  src: url('../fonts/Publico-Medium.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: bold;
  src: url('../fonts/Publico-Bold.otf');
}

@font-face {
  font-family: 'brunel';
  font-weight: bold;
  src: url('../fonts/BrunelPoster-Bold.otf');
}
