@import 'constants';
@import 'fonts';
@import '../../../node_modules/normalize.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// ***** Mixin *****

// See: https://stackoverflow.com/questions/12788262/sass-browser-vendor-prefixes
@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

// ***** General Style *****
* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  background-color: $background-color;
}

body {
  min-height: 100%;
  // sass-lint:disable no-important
  overflow-x: hidden !important;
}

body,
input,
button {
  font-family: $serif-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font-family;
}

a {
  color: $text-color;

  &:hover {
    color: $text-light-color;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
  color: $text-color;
}

strong {
  font-weight: 500;
}


blockquote {
  margin: 5em auto;
  color: $black;
  font-family: $sans-serif-font-family;
  max-width: 400px;

  &.large {
    max-width: 100%;
  }

  > div {
    border-top: 1px solid $medium-gray;
    padding-top: 0.75em;
  }

  p {
    font-size: 1.25em;
    line-height: 1.4em !important;
    font-weight: 500;
    color: inherit;
    margin-bottom: 1.5em !important;
  }

  .author {
    padding: 0;
    margin-top: 0;
    font-size: 0.9em;
    font-weight: 300;
    text-transform: uppercase;
  }

  .symbol {
    font-size: 9em;
    line-height: 1em;
    padding: 0;
    margin: -0.5em 0 -0.25em !important;
    color: $hexa-jaune;

    &::before {
      content: '»';
      margin: 0;
    }
  }
}

figure {
  margin: 2.5em 0;

  &.data {
    position: relative;
    left: (100% - $fig-image-data-width) / 2;
    width: $fig-image-data-width;
  }

  img {
    position: relative;
    left: (100% - $fig-image-width) / 2;
    width: $fig-image-width;
  }

  figcaption {
    margin: 0.5em -6.1em;
    font-family: $sans-serif-font-family;
    font-size: $fig-caption-font-size;
    font-weight: normal;
    line-height: 1.5em;
    color: $text-color;
  }

  .ref {
    padding-right: 0.3em;
    color: $text-very-light-color;
  }
}

img,
video {
  object-fit: cover;
  object-position: 50% 50%;
}

address {
  font-family: $sans-serif-font-family;
  font-size: 0.9em;
  font-style: normal;
  font-weight: normal;
  color: $text-color;

  a {
    line-height: 1.22222em;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s ease-out;

    &:hover {
      color: inherit;
      border-color: $text-color;
    }
  }

  .authors {
    margin-bottom: 0.4em;
    color: $text-color;
    text-transform: uppercase;
  }

  .date {
    color: $text-light-color;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.social-buttons {
  padding: 0;
  margin: 0;
  font-size: 1.25em;
  line-height: $header-logo-height;
  list-style: none;

  > li {
    display: inline-block;
    line-height: $header-logo-height;

  }

  button {
    line-height: $header-logo-height;
    cursor: pointer;
    background: 0;
    border: 0;
    outline: 0;
  }
}

.steps {
  position: relative;
  z-index: 1;
  height: 100%;

  section {
    max-width: $step-max-width;
    margin: auto auto 100vh;
    color: $text-color;

    &:first-child {
      margin-top: 0;
      transform: translateY(-50%);
    }

    &:last-child {
      margin-bottom: 0;
      transform: translateY(50%);
    }

    h1 {
      color: inherit;
      font-size: $step-heading-font-size * 1.25;
      line-height: 1.3em;
    }

    h2 {
      color: inherit;
      font-size: $step-heading-font-size;
    }

    figure {
      margin: 1.75em 0 1.5em;

      img {
        position: relative;
        left: 0;
        width: 100%;
      }
    }
  }
}

.number-box {
  position: relative;
  margin: 4em 0;
  text-align: center;

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  &.blue {
    background: #428ecc;
  }

  &.yellow {
    background: #ffc734;
  }

  p {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0;
    padding: 0 16%;
    color: $black;
    font-family: $sans-serif-font-family;
    font-size: 1.4em;
    font-weight: 500;
    line-height: 1.35em;
    transform: translateY(-50%);

    strong {
      display: inline-block;
      font-family: 'brunel', serif;
      font-size: 8.7em;
      font-variant-caps: all-small-caps;
      line-height: 0.9em;

      &.near {
        margin-bottom: -0.2em;
      }

      small {
        font-size: 50%;
      }
    }
  }
}

.sources {
  list-style: none;
  padding: 0;
  margin: 1em 0 3em;

  li {
    margin-bottom: 0.75em;
  }
}

// ***** Header *****
header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: $header-height;
  padding: $header-padding;
  background-color: $header-background-color;

  &.dark {
    color: $header-dark-text-color;
    background-color: $header-dark-background-color;

    .progress {
      bottom: -4px;
      height: 4px;
      background-color: $header-dark-scroll-progress-color;
    }
  }

  &.transparent {
    color: $white;
    position: absolute;
    padding: 15px 25px;
    background-color: transparent;

    img {
      height: $header-logo-height * 2;
    }

    .progress {
      position: fixed;
      top: 0;
      left: 0;
      height: 4px;
      background-color: $header-dark-scroll-progress-color;
    }

    .article-reminder {
      display: none;
    }
  }

  img {
    position: relative;
    z-index: 1;
    height: $header-logo-height;
  }

  .article-reminder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    font-family: $sans-serif-font-family;
    font-size: 13px;
    font-weight: 500;
    line-height: $header-height;
    color: inherit;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }

  .social-buttons {
    position: relative;
    z-index: 2;
    color: inherit;

    button {
      color: inherit;
      transition: opacity 0.2s ease-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .progress {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $header-scroll-progress-color;
  }
}

// ***** Main *****
main {
  position: relative;
}

.intro-section {
  position: relative;
  max-width: $text-max-width + 25px;
  padding: $main-padding;
  margin: $intro-margin-top auto 0;
  box-sizing: content-box;

  h1 {
    font-size: $intro-h1-size;
    font-weight: 500;
    line-height: 1.1em;
    margin-bottom: 0.75em;

    small {
      display: inline-block;
      margin-top: 0.8em;
      font-family: $sans-serif-font-family;
      font-size: 1.4rem;
      line-height: 1.3em;
    }
  }

  p:first-of-type {
    margin-top: $intro-spacing;
    margin-bottom: $intro-spacing / 2;
    font-size: $intro-text-size;
    font-weight: bold;
  }
}

.text-section {
  max-width: $text-max-width;
  padding: $main-padding;
  margin: 5em auto;
  box-sizing: content-box;

  &.first {
    margin: 5em auto 1em;

    p {
      font-weight: 500;
    }
  }

  p {
    margin-bottom: 0.8em;
  }

  .block {
    padding: 2.5em;
    margin: 5em auto 0;
    background-color: $light-gray;
    box-sizing: border-box;

    h1 {
      font-family: $sans-serif-font-family;
      font-size: 1.2em;
      line-height: 1.3em;
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    a,
    p {
      color: black;
    }
  }
}

.viz-section {
  position: relative;
  display: flex;
  padding: $main-padding;

  > .steps {
    padding-top: 50vh;
    padding-bottom: 50vh;
    flex-basis: 100% - $vis-width;

    section p {
      //color: inherit;
    }
  }

  > .viz {
    // sass-lint:disable no-vendor-prefixes
    position: -webkit-sticky;
    // sass-lint:disable no-duplicate-properties
    position: sticky;
    width: $vis-width;
    height: $vis-height;
    min-height: $vis-height;
    font-family: $sans-serif-font-family;
    flex-basis: $vis-width;

    canvas,
    svg,
    img {
      width: 100%;
      height: 100%;
    }

    img {
      object-fit: cover;
      object-position: initial;
    }
  }

  &.full-page {
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    > .steps {
      padding: 0 10px 100vh;
      margin-top: -50vh;

      section {
        max-width: 450px;
        padding: $step-padding;
        background-color: $white;
        border: 1px solid $step-border-color;
      }

      section:first-child,
      section:last-child {
        transform: translateY(0%);
      }
    }

    > .viz {
      z-index: -1;
      width: 100%;
      overflow: hidden;
      flex-basis: 100%;
    }
  }
}

.full-page-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  clear: both;
  margin: 5em 0;

  &.intro {
    margin: 0;
  }

  > .quote {
    font-size: 1.12em;
    position: relative;
    padding-bottom: 3em;
    margin-top: -70vh;
    margin-left: -50%;
  }

  > .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    font-size: $intro-h1-size * 0.82;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    transform: translate(-50%, -50%);
    transition: opacity 1.2s ease-out;

    &,
    * {
      color: $white;
    }

    span {
      display: inline-block;
      line-height: 1em;
      border-bottom: 1px solid $white;
      padding-bottom: 10px;
      margin-bottom: 16px;
    }

    small {
      display: block;
      font-size: 40%;
      font-weight: normal;
    }
  }

  > .intro-section {
    position: relative;
    padding-bottom: 3em;
    margin-top: -70vh;

    * {
      color: $white
    }

    address a:hover {
      border-color: $white;
    }
  }

  > .steps {
    padding-bottom: 50vh;
    margin-top: -50vh;
    color: $white;

    section p {
      color: inherit;
    }
  }

  > .background,
  > img,
  > video,
  > picture {
    @include vendor-prefix(user-select, none);
    // sass-lint:disable no-vendor-prefixes
    position: -webkit-sticky;
    // sass-lint:disable no-duplicate-properties
    position: sticky;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    -webkit-touch-callout: none;
  }

  .background {
    img {
      object-position: 50% 0;
    }

    img,
    video,
    > picture,
    > .filter {
      width: 100%;
      height: 100%;
    }

    > .filter {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0.4;
    }
  }

  &.intro .background > .filter {
    opacity: 0.45 !important; // TO MODIFY BASED ON THE COVER IMAGE
  }
}

// ***** Footer *****
footer {
  padding: $footer-padding;

  > div {
    max-width: $footer-max-width;
    padding: $footer-inner-padding;
    margin: 0 auto;
    font-family: $sans-serif-font-family;
    font-size: 0.9em;
    color: $text-light-color;
    border-top: 1px solid $medium-gray;

    p {
      margin: 0;
      font-size: inherit;
      line-height: 1.5em;
      color: inherit;
    }

    br {
      line-height: 300%;
      margin-top: 3em
    }
  }
}

// ***** Others *****
.legend {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 160px;
  height: 16px;
  z-index: 1;
  color: $text-light-color;

  .max-left,
  .max-right {
    position: absolute;
    bottom: 3px;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    color: inherit;
  }

  .left,
  .right {
    position: absolute;
    bottom: -26px;
    font-size: 0.6em;
    font-weight: 500;
    letter-spacing: 0.07em;
    color: inherit;
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }

  .max-left {
    left: 0;
  }

  .max-right {
    right: 0;
  }

  .separator {
    position: absolute;
    top: -10px;
    left: 50%;
    height: 40px;
    border-left: 1px solid currentColor;
    transform: translateX(-50%);
  }

  .graduation {
    display: flex;
    height: inherit;

    > div {
      flex: 1;
    }
  }
}

.city {
  font-size: 13.5px;
}


.position {
  animation: position-animation ease-out 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes position-animation {
  from {
    transform: scale(0.8);
  }

  to {
    transform: scale(1);
  }
}

// ***** Mobile *****
@media screen and (min-width: 2500px) {
  .city {
    font-size: 11px;
  }
}

@media screen and (max-width: $extra-large-screen) {
  figure img {
    left: 0;
    width: $fig-mobile-image-width;
  }
  figure figcaption {
    margin: 0.5em 0;
  }
}

@media screen and (max-width: $large-screen) {
  html {
    font-size: 11pt;
  }

  p {
    line-height: 1.5em;
  }

  .intro-section {
    margin-top: $intro-mobile-margin-top;

    h1 {
      font-size: $intro-mobile-h1-size;
    }
  }

  .steps section {
    padding: $step-padding;
  }

  .full-page-section > .quote {
    margin-left: auto;
    padding: 20px;
  }

  .full-page-section > .caption {
    font-size: $intro-mobile-h1-size * 0.85;
  }

  .viz-section {
    position: relative;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    > .steps {
      padding: 0 $main-padding-left-right 100vh;
      flex-basis: 100%;

      section {
        background-color: $step-background-color;
        border: 1px solid $step-border-color;
        backdrop-filter: blur(3px);

        h1,
        h2,
        p,
        a {
          color: $background-color
        }
      }

      section:first-child,
      section:last-child {
        transform: translateY(0%);
      }
    }

    > .viz {
      z-index: -1;
      width: 100%;
      flex-basis: 100%;
    }
  }
}

@media screen and (max-width: $medium-screen) {
  header .article-reminder {
    display: none;
  }

  .legend {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 140px;
  }

  .intro-section h1 small {
    font-size: 1.25rem;
  }

  .legend {
    bottom: 25px;

    .max-left,
    .max-right {
      bottom: 5px;
    }

    .left,
    .right {
      bottom: -24px;
    }
  }

  .city {
    font-size: 15px;
  }

  .number-box {
    font-size: 10px;

    p {
      font-size: 1.9em;
      padding: 0 10%;
    }
  }
}

@media screen and (max-width: $small-screen) {
  .intro-section {
    margin-top: $intro-small-screen-margin-top;

    h1 {
      font-size: $intro-small-screen-h1-size;
    }
  }

  header .social-buttons {
    right: -10px;
  }

  .text-section .block {
    padding: 2em 1.5em;
  }

  html {
    font-size: $small-screen-base-font-size;
  }

  .city {
    font-size: 17px;
  }

  .number-box {
    font-size: 8.5px;

    p {
      font-size: 1.65em;
      padding: 0 10%;
    }
  }
}

@media screen and (max-width: 350px) {

  .number-box p {
    font-size: 1.4em;
  }
}
